.Register{
    background-color: rgb(152, 116, 185);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .card{
        display: flex;
        width: 50%;
        min-height: 600px;
        overflow: hidden;
        border-radius: 10px;
        .left{
            background-color:white;
            flex: 1;
             display: flex;
             flex-direction: column;
            padding: 50px;
            gap: 50px;
          
            h1{
             color: grey;
             font-weight: 800;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 30px;
                input{
                  border: none;
                  border-bottom: 1px solid lightcoral;
                  padding: 20px;
                }
                button{
                  width: 50%;
                  border: none;
                  padding: 20px;
                  color: white;
                  background-color: blueviolet;
                  cursor: pointer;
                }
            }
        }
        .right{
          background:linear-gradient(rgba(91, 91, 169, 0.1),rgb(99, 129, 140,0.5)), url('https://images.pexels.com/photos/1181325/pexels-photo-1181325.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') center;
          display: flex;
          flex-direction: column;
          flex: 1;
          gap: 30px;
          padding: 50px;
          background-size: cover;
            h1{
              color: white;
              font-size: 90px;
            }
            p{
             color: white;
            }
            span{
             color: white;
            }
            button{
              padding: 20px;
              cursor: pointer;
              color: rgb(54, 44, 143);
              background-color: rgb(244, 244, 244);
              border: none;
              font-weight: 600;
            }
        }
    }
}